/* register_style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #780b0d;
  color: #333;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background: #fff4e4;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  color: #780b0d;
}
input, select, button {
  width: 100%;
  max-width: 350px;
  padding: 12px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}
button {
  background-color: #780b0d;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #780b0d77;
}
.hidden {
  display: none;
}